body{
    margin:0px;
    padding:0px ;
    text-decoration: none;
   }
   .background{
    min-height:100vh;
    
    justify-content: center;
    align-items: center;
    position: relative;
   }
   .background::before{
    content: '';
    background-image: url(../img/img1.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity: 0.5;
   }

   .top-header .top-left{
    padding: 20px;
   }
   .top-header .top-mid{
    display: block;
    text-align: center;
    background-color: black;
    padding: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    text-decoration: none;
   }
   .about{
    font-size: 15px;
    font-weight:bold;
    padding-left: 40px;
    margin-top: 20px;
   }
   .margin{
    font-weight:bolder;
    padding-left: 500px;
   }
   .portion1 .row1{
    display: block;
    text-align: center;
    font-size:larger;
    font-weight: bolder;
   }
   .portion1 .row2 .left{
    float: left;
    height:50px;
   }
   .portion1 .row2 .middle{
    float: left;
    background-color: black;
    line-height: 40px;
    text-align: center;
    height:50px;
    border-radius: 10px;
   }
   .portion1 .row2 .right{
    float:left;
    height: 50px;
   }
   .row5 .left{
    float: left;
    height:50px;
   }
   .row5 .middle{
    float: left;
    background-color: black;
    line-height: 40px;
    text-align: center;
    height:50px;
    border-radius: 10px;
   }
   .row5 .right{
    float:left;
    height: 50px;
   }
   .row6 .left{
    float: left;
    height:50px;
   }
   .row6 .middle{
    float: left;
    background-color: black;
    line-height: 40px;
    text-align: center;
    height:50px;
    border-radius: 10px;
   }
   .row6 .right{
    float:left;
    height: 50px;
   }